<img
  alt="Wave background image"
  class="w-full mb-16"
  height="300"
  src="./assets/images/wave.svg"
  width="600"
/>

<section class="pb-10 bg-gradient-1 lg:-mt-10 xl:-mt-20">
  <div class="max-w-6xl px-4 mx-auto xl:px-0">
    <h2 class="mb-10 text-4xl font-bold text-center">Educación</h2>

    <div class="flex flex-col gap-4">
      <article
        *ngFor="let education of educationList"
        class="flex items-center justify-between gap-4 p-4 bg-gray-700 rounded-lg shadow-xl"
        data-aos="fade-up"
      >
        <div>
          <h3 class="mb-2 font-bold">
            {{ education.title }} / {{ education.institute }}
          </h3>

          <p class="text-custom-800">
            {{ education.initialDate }}
            {{ education.endDate ? "- " + education.endDate : "" }}
            <span *ngIf="education.timeDifference">
              ({{ education?.timeDifference }})
            </span>
          </p>

          <p *ngIf="education.duration">Duración: {{ education.duration }}</p>
        </div>

        <div *ngIf="education.href">
          <a
            [href]="education.href"
            class="px-4 py-2 hover:underline"
            rel="noopener noreferrer"
            target="_blank"
            >Certificado</a
          >
        </div>
      </article>
    </div>
  </div>
</section>
