<img
  alt="Wave background image"
  class="w-full"
  height="300"
  src="./assets/images/wave.svg"
  width="600"
/>

<section class="pb-10 bg-gradient-1 lg:-mt-10 xl:-mt-20">
  <div class="flex flex-col items-center max-w-6xl px-4 mx-auto xl:px-0">
    <h2 class="mb-10 text-4xl font-bold text-center">Educación</h2>

    <!-- <div class="flex flex-col gap-4">
      <article
        *ngFor="let education of educationList"
        class="flex flex-col justify-between gap-8 p-4 bg-gray-700 rounded-lg shadow-xl sm:gap-4 sm:flex-row"
        data-aos="fade-up"
      >
        <div>
          <h3 class="mb-2 font-bold">
            {{ education.title }} / {{ education.institute }}
          </h3>

          <p class="text-custom-800">
            {{ education.initialDate }}
            {{ education.endDate ? "- " + education.endDate : "" }}
          </p>

          <p *ngIf="education.duration">Duración: {{ education.duration }}</p>
        </div>

        <a
          [href]="education.href"
          *ngIf="education.href"
          class="flex items-center py-2 sm:px-4 hover:underline"
          rel="noopener noreferrer"
          target="_blank"
          >Certificado</a
        >
      </article>
    </div> -->

    <ol class="relative border-l border-slate-400">
      <li
        *ngFor="let education of educationList"
        class="mb-10 ml-4"
        data-aos="fade-up"
      >
        <div
          class="absolute w-3 h-3 rounded-full mt-2 -left-[1.4rem] border border-gray-900 bg-white"
        ></div>

        <time class="mb-1 text-sm font-medium text-custom-800">
          {{ education.initialDate }}
          {{ education.endDate ? "- " + education.endDate : "" }}
        </time>

        <h3 class="text-lg font-semibold">
          {{ education.title }}
        </h3>

        <p class="mb-4 text-base text-custom-800 text-balance max-w-[75ch]">
          {{ education.institute }}
          <span *ngIf="education.duration">{{
            education.duration ? "/ " + education.duration : ""
          }}</span>
        </p>

        <a
          [href]="education.href"
          *ngIf="education.href"
          class="inline-flex items-center px-4 py-2 text-sm font-medium transition-colors rounded-lg bg-slate-600 hover:bg-slate-700"
          rel="noopener noreferrer"
          target="_blank"
        >
          Certificado
          <svg
            aria-hidden="true"
            class="w-3 h-3 ml-2"
            fill="currentColor"
            viewBox="0 0 14 10"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 5h12m0 0L9 1m4 4L9 9"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              stroke="currentColor"
            ></path>
          </svg>
        </a>
      </li>
    </ol>
  </div>
</section>
