<section
  class="relative grid items-center grid-cols-1 gap-6 pt-3 pb-24 text-center justify-items-center md:justify-items-start md:text-left md:grid-cols-[3fr_1fr]"
>
  <article class="flex flex-col gap-2">
    <h1
      class="mb-1 text-4xl font-bold text-transparent bg-gradient-to-r from-gradient-3 to-gradient-4 bg-clip-text md:text-5xl"
      id="name"
    >
      Carlos Morales
    </h1>

    <h2 class="mb-5 text-3xl font-bold md:text-4xl text-custom-800">
      Desarrollador Web Frontend
    </h2>

    <p class="max-w-[69ch] text-balance">
      Enfocado en el desarrollo Frontend y la experiencia de usuario. +1 año de
      experiencia desarrollando webs con

      <span class="font-bold">Angular y React</span>
    </p>

    <p class="max-w-[69ch] mb-5 text-balance">
      Si estás en busca de alguien creativo, proactivo y apto para tomar
      decisiones autónomamente <strong>¡estás en el lugar correcto!</strong>
    </p>

    <shared-buttons />
  </article>

  <article class="-order-1 md:order-1">
    <img
      alt="Foto de Carlos Morales"
      class="object-cover rounded-md"
      height="420"
      src="./assets/images/yo.webp"
      width="320"
    />
  </article>

  <a
    class="absolute -translate-x-1/2 bottom-2 left-1/2 portfolio-bounce"
    href="#projects"
  >
    <img
      alt="arrow down"
      height="32"
      id="arrow_down"
      src="./assets/icons/arrow_down.svg"
      width="32"
    />
  </a>
</section>
