<section class="py-10">
  <h2 class="mb-10 text-4xl font-bold text-center text-custom-800">
    Herramientas
  </h2>

  <div class="relative overflow-hidden" id="skillsContainer">
    <ul
      id="skillsList"
      [ngStyle]="{
        width: 'calc(144px * ' + skills.length + ')',
        '--translateX': 'calc(-144px * ' + skills.length / 2 + ')'
      }"
    >
      <li
        *ngFor="let skill of skills"
        class="font-bold text-center w-36 shrink-0"
        data-aos="fade-right"
      >
        <img
          [alt]="skill.alt"
          [src]="skill.img"
          class="m-auto transition-transform duration-300"
          height="64"
          loading="lazy"
          width="64"
        />
        <span class="block mt-2">
          {{ skill.label }}
        </span>
      </li>
    </ul>
  </div>
</section>
