<section class="py-10">
  <h2 class="mb-10 text-4xl font-bold text-center text-custom-800">
    Herramientas
  </h2>

  <ul
    class="grid max-w-2xl grid-cols-2 gap-4 mx-auto md:grid-cols-4 justify-items-center lg:max-w-full"
  >
    <li
      *ngFor="let skill of skills"
      class="grid grid-cols-1 gap-2 font-bold text-center justify-items-center"
      data-aos="fade-right"
    >
      <img
        [alt]="skill.alt"
        [src]="skill.img"
        class="transition-transform duration-300"
        height="64"
        loading="lazy"
        width="64"
      />
      {{ skill.label }}
    </li>
  </ul>
</section>
