<header
  class="absolute top-0 z-10 w-full px-4 transition-all bg-custom-200 backdrop-blur-3xl bg-opacity-10"
  (clickOutside)="clickedOutside()"
>
  <nav>
    <!-- ! Desktop Nav -->
    <ul class="items-center hidden gap-4 py-2 mx-auto md:flex max-w-7xl">
      <li>Carlos Dev</li>
      <shared-nav-item href="#projects" text="Proyectos" class="ml-auto" />
      <shared-nav-item href="#about-me" text="Sobre mí" />
      <shared-nav-item href="#education" text="Educación" />
      <shared-nav-item href="#skills" text="Habilidades" />
      <shared-nav-item href="#contact-me" text="Contacto" />
    </ul>

    <!-- ! Responsive Nav -->
    <ul class="relative flex items-center py-2 md:hidden">
      <li>
        <a routerLink="/"> Carlos Dev </a>
      </li>

      <li class="flex ml-auto select-none">
        <button (click)="toggle()">
          <img
            width="32"
            height="32"
            class="transition-transform hover:scale-[1.05]"
            src="./assets/images/bars.svg"
            alt="navbar button"
          />
        </button>
      </li>

      <shared-responsive-navbar
        (isCollapsedChange)="handleCollapsedChange($event)"
        [isCollapsed]="isResponsiveNav"
      />
    </ul>
  </nav>
</header>
