<footer class="relative z-0 px-4 py-8 mx-auto bg-gray-700">
  <div class="flex items-center justify-between max-w-6xl mx-auto">
    <p class="mr-4">
      Desarrollado por
      <b>Carlos Morales 💜</b>
      {{ date }}
    </p>
    <ul class="flex gap-2">
      <li>
        <a
          class="block p-2 transition-all duration-300 border-2 border-gray-200 rounded-md grayscale hover:grayscale-0 hover:scale-110"
          href="https://www.linkedin.com/in/krlos-morales/"
          rel="noopener noreferrer"
          target="_blank"
          title="LinkedIn"
        >
          <img
            alt="Icono de LinkedIn"
            class="min-w-[24px] aspect-square"
            height="24"
            loading="lazy"
            src="./assets/logotypes/linkedin.svg"
            width="24"
          />
        </a>
      </li>
      <li>
        <a
          class="block p-2 transition-all duration-300 border-2 border-gray-200 rounded-md grayscale hover:grayscale-0 hover:scale-110"
          href="https://github.com/KrlosPK"
          rel="noopener noreferrer"
          target="_blank"
          title="GitHub"
        >
          <img
            alt="Icono de GitHub"
            class="invert"
            class="min-w-[24px] aspect-square"
            height="24"
            loading="lazy"
            src="./assets/logotypes/github.svg"
            width="24"
          />
        </a>
      </li>
    </ul>
  </div>
</footer>
