<footer class="px-4 py-8 mx-auto bg-white">
  <div class="flex items-center justify-between mx-auto max-w-7xl">
    <p class="text-black">
      Desarrollado por
      <b>Carlos Morales 💜</b>
      {{ date }}
    </p>
    <ul class="flex gap-2">
      <a
        class="p-2 transition-all duration-300 border-2 border-gray-200 rounded-md grayscale hover:grayscale-0 hover:scale-110"
        href="https://www.linkedin.com/in/krlos-morales/"
        rel="noopener noreferrer"
        target="_blank"
      >
        <img
          width="24"
          src="./assets/images/linkedin.png"
          alt="Icono de LinkedIn"
        />
      </a>
      <a
        class="p-2 transition-all duration-300 border-2 border-gray-200 rounded-md grayscale hover:grayscale-0 hover:scale-110"
        href="https://github.com/KrlosPK"
        rel="noopener noreferrer"
        target="_blank"
      >
        <img
          width="24"
          src="./assets/images/github.png"
          alt="Icono de GitHub"
        />
      </a>
    </ul>
  </div>
</footer>
