<nav
  class="absolute w-full duration-[380ms] transition-all -translate-x-1/2 top-full left-1/2 {{
    isCollapsed ? '-translate-y-0 opacity-100' : '-translate-y-96 opacity-0'
  }}"
>
  <ul
    class="flex flex-col font-semibold text-center border-2 rounded-md bg-custom-50 border-custom-400"
  >
    <shared-nav-item
      (isCollapsed)="handleCollapse($event)"
      href="#projects"
      text="Proyectos"
    />
    <shared-nav-item
      (isCollapsed)="handleCollapse($event)"
      href="#about-me"
      text="Sobre mí"
    />
    <shared-nav-item
      (isCollapsed)="handleCollapse($event)"
      href="#education"
      text="Educación"
    />
    <shared-nav-item
      (isCollapsed)="handleCollapse($event)"
      href="#skills"
      text="Habilidades"
    />
    <shared-nav-item
      (isCollapsed)="handleCollapse($event)"
      href="#contact-me"
      text="Contacto"
    />
  </ul>
</nav>
